/* generic */
body {
    --bg-color: white; --text-color: #202020; --text-secondary: #888; --emph-color: #101010;
    --text-danger: #721c24; --text-warning: #856404; --text-success: #155724;
    --bg-danger: #f5c6cb; --bg-warning: #ffeeba; --bg-success: #c3e6cb;
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #1b1e20; --text-color: #c8c8c8; --emph-color: #e4e4e4;
        --text-danger: #f5c6cb; --text-warning: #ffeeba; --text-success: #c3e6cb;
        --bg-danger: #721c24; --bg-warning: #856404; --bg-success: #155724;
    }
}

body {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    margin: 0; padding: 0 2.5em; line-height: 1.5; font-size: 1.1em;
    color: var(--text-color); background-color: var(--bg-color);
}

/* dtree */
.ifTrue, .ifFalse {
    padding-left: 2em;
}
.nodeElse {
    padding-left: 1em;
}
.ifNode > summary {
    list-style: none;
}
.ifNode:not([open]) > summary::after {
    content: " …";
    cursor: pointer;
}

.unfinNode.isel, .leafNode.isel, .frozenIfNode.isel, .infoNode.isel, .ifNode.isel1 > summary {
    background-color: var(--bg-success); color: var(--text-success);
    border-radius: 0.1em;
}
.ifNode.isel2 > summary {
    background-color: var(--bg-warning); color: var(--text-warning);
    border-radius: 0.1em;
}
.ifNode.isel0 > summary {
    background-color: var(--bg-danger); color: var(--text-danger);
    border-radius: 0.1em;
}

/* toolbar */
#toolbar {
    display: flex;
    padding: 0.5em;
}
#toolbar > button {
    font-size: 1em;
    color: var(--text-color);
    border: none;
    padding: 0.4em;
    margin: 0 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
}
