/* generic */
body {
    --bg-color: white; --text-color: #202020; --text-secondary: #888; --emph-color: #101010;
    --text-danger: #dc3545; --text-warning: #ffc107; --text-success: #198754;
}
@media (prefers-color-scheme: dark) {
    body {
        --bg-color: #1b1e20; --text-color: #c8c8c8; --emph-color: #e4e4e4;
        --text-danger: #e74c3c; --text-warning: #f39c12; --text-success: #00bc8c;
    }
}

body {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    margin: 0; padding: 0 2.5em; line-height: 1.5; font-size: 1.1em;
    color: var(--text-color); background-color: var(--bg-color);
}

/* specific */
.ifTrue, .ifFalse {
    padding-left: 2em;
}
.nodeElse {
    padding-left: 1em;
}
.ifNode > summary {
    list-style: none;
}
